/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;
*/
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul,
ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}
img {
  display: block;
}
:root {
  --standart-text-color: #212121;
  --hover-text-color: #2196f3;
  --white-text-color: #ffffff;
  --color-for-contacts: #757575;
  --background: #2f303a;
  --our-team-section-background: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --standart-backg-icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
}
.header {
  border-bottom: 1px solid #ececec;
  padding: 24px 0;
}
.header-offer {
  width: 1200px;

  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: var(--standart-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  display: flex;
}

.logo-span {
  color: var(--hover-text-color);
}
.nav-ul {
  list-style-type: none;
  display: flex;
  margin-left: 93px;
}
.nav-a {
  text-decoration: none;
  color: var(--standart-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  list-style-type: none;
  letter-spacing: 0.02em;
  padding: 2px;
}
.a {
  color: #757575;
}
.current {
  color: var(--hover-text-color);
}
.nav-a:hover,
.nav-a:focus {
  text-decoration: none;
  color: var(--hover-text-color);
}
.nav-li:not(:first-child) {
  margin-left: 50px;
}

.nav-ul-contacts {
  display: flex;
  margin-left: auto;
}
.icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  cursor: pointer;
  fill: currentColor;
}
.icon-mobile {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  cursor: pointer;
  fill: currentColor;
}

.contacts-li {
  display: flex;
}
.contacts-li:last-child {
  margin-left: 50px;
}
.contacts-mailto,
.contacts-tel {
  display: flex;
  align-items: center;
  padding: 2px;
}
.contacts-mailto,
.contacts-tel,
.contacts-mailto-footer,
.contacts-tel-footer {
  text-decoration: none;
  color: var(--color-for-contacts);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-style: normal;
}
.contacts-mailto:hover,
.contacts-tel:hover,
.contacts-mailto:focus,
.contacts-tel:focus {
  color: var(--hover-text-color);
  text-decoration: none;
}
.contacts-mailto-footer:hover,
.contacts-tel-footer:hover {
  text-decoration: none;
}

.sect-one {
  width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backrhero.jpg);

  background-repeat: no-repeat;
  background-position: center;
}

.h1-hero {
  margin: 0 auto;
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text-color);
  margin-bottom: 30px;
}

.button-hero {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--hover-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
}
.button-hero:hover,
.button-hero:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.sect-two {
  padding-top: 94px;
}
.sect-two-h3 {
  margin-top: 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--standart-text-color);
  margin-bottom: 10px;
}
.sect-two-svg {
  align-self: center;
  width: 70px;
  height: 70px;
}
.sect-two-p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-for-contacts);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.sect-two-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
.sect-two-li:not(:last-child) {
  margin-right: 30px;
}
.svg-container {
  background-color: var(--our-team-section-background);
  border-radius: 3%;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect-three {
  padding-top: 94px;
  padding-bottom: 94px;
}
.sect-three-h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--standart-text-color);
  margin-bottom: 50px;
}
.container-two {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.sect-three-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}
.sect-three-li:not(:last-child) {
  margin-right: 30px;
}
.four-section {
  background: var(--our-team-section-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.four-section-offer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.sect-four-ul {
  margin-top: 50px;
  list-style-type: none;
  display: flex;
}

.sect-four-h2 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--standart-text-color);
  box-sizing: border-box;
  margin: 0 auto;
}
.sect-four-li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-text-color);
  width: 270px;
}
.li-offer {
  padding-bottom: 30px;
  padding-top: 30px;
}
.sect-four-li:not(:last-child) {
  margin-right: 30px;
}
.sect-four-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.svg-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.svg-link-icons {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  fill: var(--standart-backg-icon-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.svg-link-icons:hover,
.svg-link-icons:focus {
  background-color: var(--hover-text-color);
  border-radius: 50%;
  fill: var(--white-text-color);
}

.svg-items:not(:last-child) {
  margin-right: 10px;
}
.svg-items {
  fill: var(--standart-backg-icon-color);
  margin: 0;
}
.svg-items:hover,
.svg-items:focus {
  fill: white;
  background-size: 44px;
}
.sect-four-p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color-for-contacts);
  text-align: center;
  margin-bottom: 28px;
}
.five-sect {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-item {
  margin-top: 50px;
  cursor: pointer;
  width: 100%;
  height: 92px;
}
.clients-list {
  display: flex;
}
.clients-svg-path {
  width: 170px;
  height: 92px;
}
.svg-clients-offer {
  border: 1px solid var(--standart-backg-icon-color);
  border-radius: 4px;
  fill: var(--standart-backg-icon-color);
  cursor: pointer;
}
.svg-clients-offer:hover,
.svg-clients-offer:focus {
  fill: var(--hover-text-color);
  border: 1px solid var(--hover-text-color);
}
.footer {
  background: var(--background);
  padding: 60px 0;
}
.svg-footer-items {
  display: block;
  width: 44px;
  height: 44px;
}
.svg-footer-items:hover {
  background-color: var(--hover-text-color);
  border-radius: 50%;
}

.svg-footer-items:not(:last-child) {
  margin-right: 10px;
}
.svg-footer-list {
  display: flex;
  align-content: flex-end;
  margin-top: 20px;
}
.links-container {
  margin-left: 70px;
}
.h2-footer {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-offer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  align-items: baseline;
}
.logo-span-footer {
  color: var(--white-text-color);
}
.logo-footer {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--hover-text-color);
  margin-bottom: 20px;
}

.adress {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--white-text-color);
  letter-spacing: 0.03em;
}

.contacts-mailto-footer:hover,
.contacts-tel-footer:hover,
.contacts-mailto-footer:focus,
.contacts-tel-footer:focus {
  color: var(--footer-text-color);
}
.adress-ul {
  margin-top: 9px;

  padding: 0;
}
.adress-li {
  list-style-type: none;
}
.adress-li:last-child {
  margin-top: 9px;
}
.portf-sect-one {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portf-container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
}
.portf-ul-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
}
.portfl-sect-one-li {
  list-style-type: none;
}
.portfl-sect-one-li:not(:last-child) {
  margin-right: 8px;
}

.sect-one-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--standart-text-color);
  background: var(--our-team-section-background);
  border-radius: 4px;
  border-style: solid;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  font-family: inherit;
}
.sect-one-button:hover,
.sect-one-button:focus {
  color: var(--white-text-color);
  background: var(--hover-text-color);
}

.items-offer {
  margin-top: 56px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.portf-ul-two {
  background: var(--white-text-color);

  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  font-family: inherit;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portf-li-two {
  width: 370px;
}
.portf-a:hover,
.portf-a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portf-li-two:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}
.portf-div {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portf-h3 {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portf-p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--color-for-contacts);
}
