@media screen and (max-width: 480px) {
  .section-hero {
    max-width: 768px;
    min-width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/backhero-mobile.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backhero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 60px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (max-width: 767px) {
  .section-hero__backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 1000ms;
    z-index: 1;
  }
  .section-hero__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .section-hero__modal {
    position: absolute;
    background: #ffffff;
    color: $standart-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
    transition-property: translate, opacity;
    padding: 40px;
    max-width: 450px;
    max-height: 609px;
    width: 95%;
    height: 950%;
  }
  .section-hero__subtitle {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .section-hero__label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    color: $contacts-color;
    letter-spacing: 0.01em;

    &:first-child {
      margin-top: 20px;
    }
  }

  .section-hero__input-wrapper {
    position: relative;

    &:hover .section-hero__input,
    &:focus .section-hero__input {
      border: 1px solid $hover-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .section-hero__modal-svgs {
      fill: $hover-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
    }
  }

  .section-hero__input {
    padding: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    cursor: pointer;

    &:focus + .section-hero__modal-svgs {
      fill: $hover-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
    }

    &:focus-within + .section-hero__modal-svgs {
      display: none;
    }

    &:focus {
      border: 1px solid $hover-text-color;
    }
  }

  .section-hero__modal-svgs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    fill: currentColor;
  }

  .section-hero__feedback {
    cursor: pointer;
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    width: 100%;
  }

  .section-hero__feedback::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .section-hero__input-wrapper:hover .section-hero__feedback {
    border: 1px solid $hover-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  .section-hero__input-wrapper:focus {
    border: 1px solid $hover-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  .section-hero__conditions {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  .section-hero__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .section-hero__checkbox:checked + .section-hero__custom-checkbox {
    background-color: #188ce8;
    background-image: url(../images/Vector.svg);
    background-position: center;
    border: 2px solid $hover-text-color;
    background-repeat: no-repeat;
    border: none;
  }
  .section-hero__checkbox-label {
    // margin-right: 15px;
    width: 16px;
    height: 15px;
    position: relative;
  }
  .section-hero__custom-checkbox {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 15px;
    content: "";
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .section-hero__accept {
    margin-left: 7px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: $contacts-color;
  }
  .section-hero__blue-underline {
    color: $hover-text-color;
    text-decoration: underline;
  }

  .section-hero__send {
    color: $alternative-text-color;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #188ce8;
    }
  }

  .section-hero__send-label {
    display: flex;
    justify-content: center;
  }

  .section-hero__title {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-hero {
    max-width: 768px;
    min-width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/backhero-tablet.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backhero-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 60px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 1200px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/backhero-tablet.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backhero-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 204px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .section-hero__backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 1000ms;
    z-index: 1;
  }
  .section-hero__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .section-hero__subtitle {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .section-hero__label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    color: $contacts-color;
    letter-spacing: 0.01em;

    &:first-child {
      margin-top: 20px;
    }
  }

  .section-hero__input-wrapper {
    position: relative;

    &:hover .section-hero__input,
    &:focus .section-hero__input {
      border: 1px solid $hover-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .section-hero__modal-svgs {
      fill: $hover-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
    }
  }

  .section-hero__input {
    padding: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    cursor: pointer;

    &:focus + .section-hero__modal-svgs {
      fill: $hover-text-color;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill;
    }

    &:focus-within + .section-hero__modal-svgs {
      display: none;
    }

    &:focus {
      border: 1px solid $hover-text-color;
    }
  }

  .section-hero__modal-svgs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    fill: currentColor;
  }

  .section-hero__feedback {
    cursor: pointer;
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    width: 100%;
  }

  .section-hero__feedback::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  .section-hero__input-wrapper:hover .section-hero__feedback {
    border: 1px solid $hover-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  .section-hero__input-wrapper:focus {
    border: 1px solid $hover-text-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }
  .section-hero__conditions {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }

  .section-hero__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .section-hero__checkbox:checked + .section-hero__custom-checkbox {
    background-color: #188ce8;
    background-image: url(../images/Vector.svg);
    background-position: center;
    border: 2px solid $hover-text-color;
    background-repeat: no-repeat;
    border: none;
  }
  .section-hero__checkbox-label {
    margin-left: 15px;
    width: 16px;
    height: 15px;
    position: relative;
  }
  .section-hero__custom-checkbox {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 15px;
    content: "";
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .section-hero__accept {
    margin-left: 7px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $contacts-color;
  }
  .section-hero__blue-underline {
    color: $hover-text-color;
    text-decoration: underline;
  }

  .section-hero__send {
    color: $alternative-text-color;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;

    &:hover,
    &:focus {
      background: #188ce8;
    }
  }

  .section-hero__send-label {
    display: flex;
    justify-content: center;
  }

  .section-hero__title {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

@media screen and (max-width: 1199px) {
  .section-hero__modal {
    position: absolute;
    background: #ffffff;
    color: $standart-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
    transition-property: translate, opacity;
    padding: 40px;
    max-width: 521px;
    max-height: 609px;
    width: 95%;
    height: 98%;
  }
}

@media screen and (min-width: 1199px) {
  body {
    overflow-x: hidden;
  }

  .section-hero__modal {
    position: absolute;
    background: #ffffff;
    color: $standart-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1000ms;
    transition-property: translate, opacity;
    padding: 40px;
    width: 528px;
    // height: 581px;
  }
  .section-hero {
    margin: 0 auto;
    max-width: 1600px;
    min-width: 300px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/backrhero.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backrhero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 0;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .section-hero__title {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 40px;
  }
}
